# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
/node_modules/
/platforms/android/
/platforms/ios/
/www/

package-lock.json
ldae_kc2017_app_1.2.apk
